* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Iosevka Term";
  font-size: 18px;
  padding: 0;
}

window#waybar {
  background: rgba(13, 17, 22, 0.85);
  color: #b7bfce;
}

tooltip {
  background-color: #0d1116;
  border: 1px solid #987afb;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#disk,
#pulseaudio {
  color: #b7bfce;
  margin: 2px 2px 0px 0px;
  padding: 2px 8px;
}

#custom-oslogo {
  color: #987afb;
  margin-right: 6px;
  margin-left: 2px;
  padding-left: 2px;
  padding-right: 10px;
}

#workspaces button.empty {
  color: #232e3b;
  background-color: transparent;
  opacity: 0.4;
}

#workspaces button {
  color: #b7bfce;
  background-color: transparent;
  opacity: 0.4;
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 4px;
  padding-left: 4px;
}

#workspaces button.focused {
  background-color: transparent;
  color: #0d1116;
  opacity: 1;
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 8px;
  padding-left: 8px;
}

#workspaces button.visible {
  background-color: transparent;
  color: #b7bfce;
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 4px;
  padding-left: 4px;
}

#workspaces button.urgent {
  background-color: #f16c75;
  color: #0d1116;
  opacity: 1;
  font-weight: bold;
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 4px;
  padding-left: 4px;
}
